#nn_loader,#nn_sepa_loader,#nn_cc_iframe_loader,#nn_sepa_iframe_loader{
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url('../images/loader.gif') 50% 50% no-repeat;
}

